Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

.pre-commit-config.yaml:

---
exclude: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
repos:
  - hooks:
      - args:
          - --branch
          - master
        id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
  - hooks:
      - id: gitlint
    repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
  - hooks:
      - args:
          - --ignore=DL3006
          - --ignore=DL3008
          - --ignore=SC1091
          - --ignore=SC2016
        id: hadolint
    repo: https://github.com/AleksaC/hadolint-py
    rev: v2.10.0
  - hooks:
      - entry: prettier --write --list-different
        exclude: ^(search/templates/)
        id: prettier
        types:
          - javascript
    repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
  - hooks:
      - args:
          - -lll
          - --recursive
          - src/app
        entry: poetry run bandit
        files: ""
        id: python-bandit-vulnerability-check
        language: system
        name: bandit
      - entry: poetry run black
        id: black
        language: system
        name: black
        types:
          - python
      - entry: poetry run blacken-docs
        id: blacken-docs
        language: system
        name: blacken-docs
      - entry: poetry run darglint
        id: darglint
        language: system
        name: darglint
        stages:
          - manual
        types:
          - python
      - args:
          - --darglint-ignore-regex
          - .*
        entry: poetry run flake8
        id: flake8
        language: system
        name: flake8
        require_serial: true
        types:
          - python
      - args:
          - --filter-files
        entry: poetry run isort
        id: isort
        language: system
        name: isort
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
      - entry: poetry run mypy
        id: mypy
        language: system
        name: mypy
        types:
          - python
      - args:
          - --py37-plus
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        id: pyupgrade
        language: system
        name: pyupgrade
        types:
          - python
      - args:
          - --severity=warning
        entry: poetry run shellcheck
        id: shellcheck
        language: system
        name: shellcheck
        types:
          - shell
      - args:
          - "-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}"
        entry: poetry run yamllint
        id: yamllint
        language: system
        name: yamllint
        types:
          - yaml
    repo: local

Updated config.yml
  .circleci/config.yml
Due: yamllint

circleci store timing results for better parallelism
  .circleci/config.yml
  noxfile.py
Due: black, flake8, mypy, pyupgrade, yamllint

circleci store timing results for better parallelism
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Add .circleci/config.yml
  .circleci/config.yml
Due: yamllint

circleci mypy on pipeline parallel
  .circleci/config.yml
Due: yamllint

circleci dockerfor tests and coverage
  .circleci/config.yml
  noxfile.py
Due: black, flake8, mypy, pyupgrade, yamllint

circleci use docker for whole pipeline
  .circleci/config.yml
Due: yamllint

devcontainer fix extensions cache
  .devcontainer/Dockerfile
  .gitignore
  docker-compose.yml
  src/notebooks/architecture_patterns.ipynb
Due: yamllint

architecture patterns: domain model
  .flake8
  pyproject.toml
  src/__init__.py
  src/notebooks/architecture_patterns.ipynb
  src/notebooks/architecture_patterns/domain/model.py
  src/notebooks/architecture_patterns/domain/test_allocate.py
  src/notebooks/architecture_patterns/domain/test_batches.py
  src/notebooks/architecture_patterns/domain/test_model.py
Due: black, flake8, mypy, pyupgrade

chore: yolo once
  .devcontainer/devcontainer.json
  README.md
  main.py
  migrations/versions/4009590c388c_reminders_table.py
  notebooks/algos.ipynb
  notebooks/python-problem-solving-template.ipynb
  src/app/db.py
Due: black, flake8, mypy, pyupgrade

feature: basic new app raspberry project setup
  apps/raspberry/README.md
  apps/raspberry/backend/docker-compose.yml
  apps/raspberry/backend/main2.py
  apps/raspberry/backend/src/__init__.py
  apps/raspberry/backend/src/config.py
  apps/raspberry/backend/src/logger.py
  apps/raspberry/backend/src/scheluder.py
  apps/raspberry/backend/src/utils.py
  apps/raspberry/pyproject.toml
  apps/raspberry/raspberry/__init__.py
  apps/raspberry/tests/__init__.py
Due: none

chore: remove deprecated vscode extension
  .devcontainer/devcontainer.json
Due: none

feature: tensorflow installed first pipeline setup
  apps/notebooks/trading.ipynb
  poetry.lock
  pyproject.toml
  src/app/console.py
  src/trading/__init__.py
  src/trading/get.py
  src/trading/pipeline.py
  src/trading/plot.py
Due: black, flake8, mypy, pyupgrade

feature: allow python minor version auto update
  pyproject.toml
Due: none

fix: update poetry lock file
  poetry.lock
  pyproject.toml
Due: none

chore: remove unused import
  .devcontainer/Dockerfile
  .python-version
  README.md
  docker-compose.yml
  logs/.gitignore
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts/README.md
  scripts/backup.sh
  scripts/cleanup.sh
  scripts/prestart-mac.sh
  scripts/prestart-rpi.sh
  scripts/update.sh
  src/app/console.py
Due: black, flake8, mypy, pyupgrade, yamllint

feature: pipeline test no use of docker dockerfile
  .circleci/config.yml
  README.md
  scripts/prestart-mac.sh
  tests/trading/__init__.py
  tests/trading/test_plot.py
Due: black, flake8, mypy, pyupgrade, yamllint

feature: pipeline test no use of docker dockerfile
  .circleci/config.yml
Due: yamllint
