Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

.pre-commit-config.yaml:

---
exclude: ^(migrations/|notes/|apps/|.venv/)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - { id: no-commit-to-branch, args: [--branch, master] }
      - id: check-added-large-files
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
      - id: gitlint
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.10.0
    hooks:
      - id: hadolint
        args:
          [
            "--ignore=DL3006",
            "--ignore=DL3008",
            "--ignore=SC1091",
            "--ignore=SC2016",
          ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
    hooks:
      - id: prettier
        entry: prettier --write --list-different
        types: [javascript]
        exclude: ^search/templates/
  - repo: local
    hooks:
      - id: python-bandit-vulnerability-check
        entry: poetry run bandit
        args: [-lll, --recursive, src/app]
        language: system
        files: ""
        name: bandit
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: poetry run blacken-docs
        language: system
      - id: darglint
        name: darglint
        entry: poetry run darglint
        language: system
        types: [python]
        stages: [manual]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        types: [shell]
        args: ["--severity=warning"]
      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        language: system
        types: [yaml]
        args:
          ["-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}"]

Basic typing
  src/app/console.py
  src/app/wikipedia.py
Due: black, flake8, mypy, pyupgrade

Docker compose dev pytho 3.7
  .devcontainer/docker-compose.yml
Due: yamllint

No typing with decorators
  src/app/console.py
Due: black, flake8, mypy, pyupgrade

python 3.8
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
Due: yamllint

markdownlint ignore LIVENSE
  .devcontainer/devcontainer.json
Due: none

4 spaces tab
  .devcontainer/Dockerfile
Due: none

run pre commit on dev container creation
  .devcontainer/postcreate.sh
Due: none

Doscstrings and flake config
  .devcontainer/postcreate.sh
  .flake8
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  main.py
  noxfile.py
  poetry.lock
  pyproject.toml
  setup.cfg
  src/__init__.py
  src/app/__init__.py
  src/app/config.py
  src/app/console.py
  src/app/db.py
  src/app/wikipedia.py
  tests/__init__.py
  tests/conftest.py
  tests/test_console.py
  tests/test_wikipedia.py
Due: black, flake8, mypy, pyupgrade, yamllint

readthedocs config
  README.md
  docs/.readthedocs.yml
  docs/requirements.txt
  pyproject.toml
Due: yamllint

Match project deps with docs deps
  docs/requirements.txt
Due: none

deprecated check-byte-order-marker pre-commit hook
  .pre-commit-config.yaml
Due: yamllint

pylint ignore directory
  .devcontainer/devcontainer.json
  docs/conf.py
  pyproject.toml
Due: black, flake8, mypy, pyupgrade

fix docs and add to default sessions
  docs/_build/.doctrees/environment.pickle
  docs/conf.py
  noxfile.py
Due: black, flake8, mypy, pyupgrade

fix docs
  docs/_build/.doctrees/environment.pickle
  docs/_build/.doctrees/reference.doctree
  docs/_build/_sources/reference.rst.txt
  docs/_build/reference.html
  docs/_build/searchindex.js
  docs/reference.rst
Due: none

.
  .devcontainer/docker-compose.yml
  .devcontainer/postcreate.sh
  .dockerignore
Due: yamllint

Ignore docs build
  .dockerignore
  .gitignore
  docs/_build/.doctrees/environment.pickle
  docs/_build/searchindex.js
Due: none

Ignore docs build
  docs/_build/.buildinfo
  docs/_build/.doctrees/environment.pickle
  docs/_build/.doctrees/index.doctree
  docs/_build/.doctrees/license.doctree
  docs/_build/.doctrees/reference.doctree
  docs/_build/_sources/index.rst.txt
  docs/_build/_sources/license.rst.txt
  docs/_build/_sources/reference.rst.txt
  docs/_build/_static/_sphinx_javascript_frameworks_compat.js
  docs/_build/_static/alabaster.css
  docs/_build/_static/basic.css
  docs/_build/_static/custom.css
  docs/_build/_static/doctools.js
  docs/_build/_static/documentation_options.js
  docs/_build/_static/file.png
  docs/_build/_static/jquery-3.6.0.js
  docs/_build/_static/jquery.js
  docs/_build/_static/language_data.js
  docs/_build/_static/minus.png
  docs/_build/_static/plus.png
  docs/_build/_static/pygments.css
  docs/_build/_static/searchtools.js
  docs/_build/_static/sphinx_highlight.js
  docs/_build/_static/underscore-1.13.1.js
  docs/_build/_static/underscore.js
  docs/_build/genindex.html
  docs/_build/index.html
  docs/_build/license.html
  docs/_build/objects.inv
  docs/_build/py-modindex.html
  docs/_build/reference.html
  docs/_build/search.html
  docs/_build/searchindex.js
  notes/patterns/.coveragerc
Due: none

vscode select defaultInterpreterPath
  .devcontainer/devcontainer.json
Due: none

xdoctests
  noxfile.py
  poetry.lock
  pyproject.toml
  src/app/wikipedia.py
Due: black, flake8, mypy, pyupgrade

pylint pre commit and vscode config
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
Due: yamllint

remove readthedocs
  README.md
Due: none

test
  src/app/wikipedia.py
Due: black, flake8, mypy, pyupgrade

undo test
  src/app/wikipedia.py
Due: black, flake8, mypy, pyupgrade

Pylint conf
  .devcontainer/devcontainer.json
  .pylintrc
  pyproject.toml
Due: none

Flake8 and pylint ignores for vscode and local
  .devcontainer/devcontainer.json
  .flake8
  .pylintrc
Due: none

ignore notes and docs on pre-commit
  .pre-commit-config.yaml
  .pylintrc
Due: yamllint

Remove old Hypermodern python references
  docs/conf.py
  docs/index.rst
Due: black, flake8, mypy, pyupgrade

Add .circleci/config.yml
  .circleci/config.yml
Due: yamllint

Updated config.yml
  .circleci/config.yml
Due: yamllint

README bandit badge
  README.md
Due: none

remove remote containers extensions
  .devcontainer/devcontainer.json
Due: none

No readthedocs
  docs/.readthedocs.yml
  docs/requirements.txt
Due: yamllint
