Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

black:
  entry: poetry run black
  language: system
  name: black

flake8:
  args:
  - --darglint-ignore-regex
  - .*
  entry: poetry run flake8
  language: system
  name: flake8
  require_serial: true

mypy:
  entry: poetry run mypy
  language: system
  name: mypy

pyupgrade:
  args:
  - --py37-plus
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system
  name: pyupgrade

yamllint:
  args:
  - '-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}'
  entry: poetry run yamllint
  language: system
  name: yamllint

test utils
  src/app/utils.py
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

test utils save file hash
  src/app/utils.py
Due: black, flake8, mypy, pyupgrade

tests utils
  src/app/utils.py
  tests/conftest.py
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

docs references
  docs/reference.rst
Due: none

Noxfile config
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Noxfile config
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

circleci, github actions, and codecov config (#7)
  .circleci/config.yml
  .gitignore
  .pre-commit-config.yaml
  Procfile
  README.md
  apps/raspberry/backend/poetry.lock
  apps/raspberry/backend/pyproject.toml
  coverage.xml
  docs/reference.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  scripts/README.md
  src/app/config.py
  src/app/db.py
  src/app/utils.py
  tests/conftest.py
  tests/data/test.txt
  tests/test_config.py
  tests/test_db.py
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade, yamllint

tests utils
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

devcontainer config
  .devcontainer/postcreate.sh
  README.md
  pyproject.toml
Due: none

fastapi jinja templates and static files
  .devcontainer/postcreate.sh
  templates/page.html
  website/main.py
Due: black, flake8, mypy, pyupgrade

Updated config.yml
  .circleci/config.yml
Due: yamllint

check if file is being created
  src/app/utils.py
Due: black, flake8, mypy, pyupgrade

print status of test
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

print status of test
  src/app/utils.py
Due: black, flake8, mypy, pyupgrade

use mark usefixture
  src/app/utils.py
  tests/conftest.py
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

docker compose fix db auth
  .devcontainer/postcreate.sh
  docker-compose.yml
  main.py
Due: black, flake8, mypy, pyupgrade, yamllint

app startup deployments
  .devcontainer/postcreate.sh
  Procfile
Due: none

excecute books app
  Procfile
  README.md
Due: none

excecute migrations on deploy
  Procfile
Due: none

use src module path for imports
  main.py
  migrations/env.py
Due: black, flake8, mypy, pyupgrade

procfile no multiline commands
  Procfile
Due: none

lock deps && Docker cache && nox simplified
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/postcreate.sh
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8, mypy, pyupgrade, yamllint

Add .circleci/config.yml
  .circleci/config.yml
Due: yamllint

no postcrete on docker build
  Dockerfile
Due: none

Path conditions:
  black: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  flake8: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  mypy: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  pyupgrade: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  yamllint: any of: \.(yaml|yml)$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
