Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

.pre-commit-config.yaml:

---
exclude: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
repos:
  - hooks:
      - args:
          - --branch
          - master
        id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
  - hooks:
      - id: gitlint
    repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
  - hooks:
      - args:
          - --ignore=DL3006
          - --ignore=DL3008
          - --ignore=SC1091
          - --ignore=SC2016
        id: hadolint
    repo: https://github.com/AleksaC/hadolint-py
    rev: v2.10.0
  - hooks:
      - entry: prettier --write --list-different
        exclude: ^(search/templates/)
        id: prettier
        types:
          - javascript
    repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
  - hooks:
      - args:
          - -lll
          - --recursive
          - src/app
        entry: poetry run bandit
        files: ""
        id: python-bandit-vulnerability-check
        language: system
        name: bandit
      - entry: poetry run black
        id: black
        language: system
        name: black
        types:
          - python
      - entry: poetry run blacken-docs
        id: blacken-docs
        language: system
        name: blacken-docs
      - entry: poetry run darglint
        id: darglint
        language: system
        name: darglint
        stages:
          - manual
        types:
          - python
      - args:
          - --darglint-ignore-regex
          - .*
        entry: poetry run flake8
        id: flake8
        language: system
        name: flake8
        require_serial: true
        types:
          - python
      - args:
          - --filter-files
        entry: poetry run isort
        id: isort
        language: system
        name: isort
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
      - entry: poetry run mypy
        id: mypy
        language: system
        name: mypy
        types:
          - python
      - args:
          - --py37-plus
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        id: pyupgrade
        language: system
        name: pyupgrade
        types:
          - python
      - args:
          - --severity=warning
        entry: poetry run shellcheck
        id: shellcheck
        language: system
        name: shellcheck
        types:
          - shell
      - args:
          - "-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}"
        entry: poetry run yamllint
        id: yamllint
        language: system
        name: yamllint
        types:
          - yaml
    repo: local

Updated config.yml
  .circleci/config.yml
Due: yamllint

lint circleci config
  .circleci/config.yml
Due: yamllint

test utils
  tests/data/test.txt
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

test config
  tests/test_config.py
  tests/test_utils.py
Due: black, flake8, mypy, pyupgrade

test db
  tests/test_db.py
Due: black, flake8, mypy, pyupgrade

heroku app documentation
  README.md
Due: none

Mock database and settings
  tests/conftest.py
  tests/test_config.py
  tests/test_db.py
Due: black, flake8, mypy, pyupgrade

Mock db settings and config vars
  src/app/config.py
  tests/conftest.py
  tests/test_config.py
  tests/test_db.py
Due: black, flake8, mypy, pyupgrade

mock everything as tests run parallel
  tests/test_db.py
Due: black, flake8, mypy, pyupgrade

config typing
  src/app/config.py
Due: black, flake8, mypy, pyupgrade

typing remove from get settings
  src/app/config.py
Due: black, flake8, mypy, pyupgrade
