Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

black:
  entry: poetry run black
  language: system
  name: black

flake8:
  args:
  - --darglint-ignore-regex
  - .*
  entry: poetry run flake8
  language: system
  name: flake8
  require_serial: true

mypy:
  entry: poetry run mypy
  language: system
  name: mypy

pyupgrade:
  args:
  - --py37-plus
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system
  name: pyupgrade

yamllint:
  args:
  - '-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}'
  entry: poetry run yamllint
  language: system
  name: yamllint

Generate coverage xml report
  coverage.xml
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Updated config.yml
  .circleci/config.yml
Due: yamllint

Remove rpi conf from main readme add codecov badge
  README.md
Due: none

README rpi setup
  scripts/README.md
Due: none

easier to read procfile
  Procfile
Due: none

hash poetry.lock not to run install if not updated
  noxfile.py
  src/app/utils.py
Due: black, flake8, mypy, pyupgrade

ignore sha256 files
  .gitignore
Due: none

lint circleci config
  .circleci/config.yml
Due: yamllint

lint db module
  src/app/db.py
Due: black, flake8, mypy, pyupgrade

lint config module
  src/app/config.py
Due: black, flake8, mypy, pyupgrade

coverage config
  .circleci/config.yml
  noxfile.py
Due: black, flake8, mypy, pyupgrade, yamllint

fix hash file creation
  .circleci/config.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/app/utils.py
Due: black, flake8, mypy, pyupgrade, yamllint

circleci cache poetry.lock hash
  .circleci/config.yml
Due: yamllint

sphinx turn warning into errors
  noxfile.py
Due: black, flake8, mypy, pyupgrade

nox default safety session
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Remove old rpi dependencies
  apps/raspberry/backend/poetry.lock
  apps/raspberry/backend/pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  flake8: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  mypy: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  pyupgrade: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  yamllint: any of: \.(yaml|yml)$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
