Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

black:
  entry: poetry run black
  language: system
  name: black

flake8:
  args:
  - --darglint-ignore-regex
  - .*
  entry: poetry run flake8
  language: system
  name: flake8
  require_serial: true

mypy:
  entry: poetry run mypy
  language: system
  name: mypy

pyupgrade:
  args:
  - --py37-plus
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system
  name: pyupgrade

yamllint:
  args:
  - '-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}'
  entry: poetry run yamllint
  language: system
  name: yamllint

Updated config.yml
  .circleci/config.yml
Due: yamllint

Circleci badge and tests verbosity
  README.md
  noxfile.py
Due: black, flake8, mypy, pyupgrade

circleci vscode extension
  .devcontainer/devcontainer.json
Due: none

MIT License badge
  README.md
Due: none

basic fastapi website
  website/__init__.py
  website/main.py
Due: black, flake8, mypy, pyupgrade

fastapi gunicorn deps
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: none

heroku cli
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Procfile
Due: none

requirements
  requirements.txt
Due: none

no requirements
  requirements.txt
Due: none

Update poetry lock
  poetry.lock
Due: none

Lock pyproject pyhton version
  pyproject.toml
Due: none

Lock python version
  poetry.lock
Due: none

Profile use gunicorn
  Procfile
Due: none

No docs on readthedocs
  pyproject.toml
Due: none

Dont use nox poetry and improve session virtualenv
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/app/console.py
  src/app/wikipedia.py
  tests/test_console.py
  tests/test_wikipedia.py
Due: black, flake8, mypy, pyupgrade

Coverage with pytest plugin
  noxfile.py
Due: black, flake8, mypy, pyupgrade

xml coverage results
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Generate partial coverage results on tests
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Pytest cov report from tests nox session
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, flake8, mypy, pyupgrade

pre-commit config no commits to main
  .pre-commit-config.yaml
Due: yamllint

Path conditions:
  black: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  flake8: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  mypy: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  pyupgrade: any of: \.py$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
  yamllint: any of: \.(yaml|yml)$, but not: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
