Repository maferelo/automata-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pyupgrade, yamllint

.pre-commit-config.yaml:

---
exclude: ^(apps/|docs/_build/|migrations/|notes/|.venv/)
repos:
  - hooks:
      - args:
          - --branch
          - master
        id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
  - hooks:
      - id: gitlint
    repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
  - hooks:
      - args:
          - --ignore=DL3006
          - --ignore=DL3008
          - --ignore=SC1091
          - --ignore=SC2016
        id: hadolint
    repo: https://github.com/AleksaC/hadolint-py
    rev: v2.10.0
  - hooks:
      - entry: prettier --write --list-different
        exclude: ^(search/templates/)
        id: prettier
        types:
          - javascript
    repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
  - hooks:
      - args:
          - -lll
          - --recursive
          - src/app
        entry: poetry run bandit
        files: ""
        id: python-bandit-vulnerability-check
        language: system
        name: bandit
      - entry: poetry run black
        id: black
        language: system
        name: black
        types:
          - python
      - entry: poetry run blacken-docs
        id: blacken-docs
        language: system
        name: blacken-docs
      - entry: poetry run darglint
        id: darglint
        language: system
        name: darglint
        stages:
          - manual
        types:
          - python
      - args:
          - --darglint-ignore-regex
          - .*
        entry: poetry run flake8
        id: flake8
        language: system
        name: flake8
        require_serial: true
        types:
          - python
      - args:
          - --filter-files
        entry: poetry run isort
        id: isort
        language: system
        name: isort
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
      - entry: poetry run mypy
        id: mypy
        language: system
        name: mypy
        types:
          - python
      - args:
          - --py37-plus
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        id: pyupgrade
        language: system
        name: pyupgrade
        types:
          - python
      - args:
          - --severity=warning
        entry: poetry run shellcheck
        id: shellcheck
        language: system
        name: shellcheck
        types:
          - shell
      - args:
          - "-d {extends: default, rules: {braces: {max-spaces-inside: -1}}}"
        entry: poetry run yamllint
        id: yamllint
        language: system
        name: yamllint
        types:
          - yaml
    repo: local

feature: remove safety analysis
  .circleci/config.yml
  poetry.lock
  pyproject.toml
Due: yamllint

fix: remove safety steps from project
  noxfile.py
Due: black, flake8, mypy, pyupgrade

Feature: workspace for dep install and posterior tests
  .circleci/config.yml
Due: yamllint

fix: pipelines testv2 step was renamed to setup
  .circleci/config.yml
Due: yamllint

feature: tensorflow installed first pipeline setup (#9)
  .circleci/config.yml
  .devcontainer/Dockerfile
  .python-version
  README.md
  apps/notebooks/trading.ipynb
  docker-compose.yml
  logs/.gitignore
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts/README.md
  scripts/backup.sh
  scripts/cleanup.sh
  scripts/prestart-mac.sh
  scripts/prestart-rpi.sh
  scripts/update.sh
  src/trading/__init__.py
  src/trading/get.py
  src/trading/pipeline.py
  src/trading/plot.py
  tests/trading/__init__.py
  tests/trading/test_plot.py
Due: black, flake8, mypy, pyupgrade, yamllint

feature: move settings from .devcontainer.json to .vscode
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/notes/betterpython/.vscode/settings.json
Due: none

fix: vscode settings linters paths
  .vscode/settings.json
  poetry.toml
Due: none
